@media screen and (min-width: 600px) {
  #hamburger {
    display: none;
  }

  nav {
    display: block !important;
  }

  nav ul {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
